body {
    padding: 10px;
}

.listing{
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: rgb(226, 225, 225);
    margin-bottom: 1em;
}
.listing img{
    width: 300px;
    margin-right: 3em;
}
