body {
    padding: 10px;
}

.listing{
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: rgb(234, 234, 234);
}
.listing img{
    width: 200px;
    margin-right: 3em;
}
