{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing: {{ listing.title }}</h2>

    <!-- watchlist -->

    <img src="{{ listing.image }}" alt="{{ listing.title }}" width="700px">

    <p>{{ listing.description }}</p>

    <h2>${{ listing.current_bid|floatformat:2 }}</h2>

    <span>{{ n_bids }} bid(s) so far.</span>

    {% if top_bidder == listing.user.id %}
    <span>
        Your bid is the current bid.    
    </span>
    {% endif %}

    <form action="{% url 'placebid' %}" method="post">
        {% csrf_token %}
        <input type="number" step="0.01" name="amount" min="{{ min }}">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="listing_id" value="{{ listing.id }}">
        <input type="submit" value="Place Bid" id="place-bid">
    </form>

    <h2>Details</h2>
    <ul>
        <li>Listed by: <span style="color: blue;">{{listing.user.username}}</span></li>
        <li>Category: {{ listing.category.name }}</li>
    </ul>

{% endblock %}